#background-image {
    background-image: url("Monnaies_du_monde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
h1 {
    background-color: #6B8E23;
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 45px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #6B8E23;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

section {
    padding: 20px;
    margin-top: 20px;
}
