body {
    background-image: url('image.png');
    background-size: cover; 
    background-position: center;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: auto;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0c4599;
    color: #ffffff;
    padding: 10px 20px;
}

.logo {
    margin-right: auto;
}

.header h1 {
    margin: 0;
    font-size: 30px;
    flex-grow: 1;
    text-align: center;
}

.input-container {
    display: flex; /* Utilisation de Flexbox */
    justify-content: space-between; /* Pour aligner les éléments sur une seule ligne avec un espace entre eux */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px; /* Réduction du rembourrage */
    width: 70%; /* Réglage de la largeur */
    max-width: 1200px; /* Définition d'une largeur maximale */
    box-shadow: 8px 4px 4px 8px rgba(0,0,0,0.1);
    margin: 50px auto 0 auto; /* Déplacer vers le haut et centrer horizontalement */
    text-align: center;
}

.input-container p {
    margin: 0 0 20px;
    color: #333;
    font-size: 18px;
}

.input-container label {
    display: block;
    margin-bottom: 10px;
}

.input-container input,
.input-container select {
    margin-bottom: 10px; /* Espacement inférieur réduit */
    padding: 8px;
    width: 40%; /* Réduction de la largeur des champs d'entrée */
    border-radius: 5px;
    border: 1px solid #ccc;
}

.input-container button {
    background-color: #0c4599;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Ajout de la marge à gauche */
}

.input-container button:hover {
    background-color: #808080;
}

#project-panel {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 70%; /* Réglage de la largeur */
    max-width: 1200px; /* Définition d'une largeur maximale */
    margin: 50px auto; /* Centrer horizontalement */
    box-shadow: 8px 4px 4px 8px rgba(0,0,0,0.1);
}


#project-panel h2 {
    text-align: center;
    margin: 0 auto;
}

#project-panel p {
    text-align: left; /* Justifier à gauche */
    overflow-wrap: break-word;
    max-width: 80%;
    margin: 20px 10% 0 10%;
}
