#background-image {
    background-image: url("Monnaies_du_monde.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
h1 {
    background-color: #6B8E23;
    color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 45px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}


.input-container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin: 20px auto;
    text-align: center;
}

.input-container p {
    margin: 0 0 20px 0;
    color: #333;
    font-size: 18px;
}

#country-input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 22px);
    border-radius: 5px;
    border: 1px solid #ccc;
}

#submit-btn {
    background-color: #6B8E23;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit-btn:hover {
    background-color: #5a7d1c;
}
.welcome-text p {
    background-color: #0c4599;
    color: white; /* Couleur du texte */
    font-size: 25px; /* Taille de la police */
    margin: 20px auto; /* Centrage et espacement vertical */
    width: 80%; /* Largeur du texte */
    text-align: center; /* Alignement du texte */
    font-weight: bold;
}